html
{
    background: rgb(217, 215, 255);
    background: linear-gradient(0deg, #DB2763 0%, rgb(240, 210, 43) 100%);
    min-height: 100%;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Poprawne klasy*/
/*Navigation*/
.web-header
{
    width: 100%;
    position: fixed;
    font-size: 20px;
}
.web-navigation
{
    background: #0f8b8d8f;
    display: flex;
    justify-content: center;
    
}
.web-navigation__link
{
    background: #268d8d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 7px  #14364265;
    text-decoration: none;
    color:white;
    margin: 20px 30px;  
}

/*Main*/
.main
{
    margin: 100px;
    max-width: 1000px;
}
.main-center
{
    
    display: flex;
    justify-content: center;
}

/*Header*/
.document-header
{
    background: rgba(255, 255, 255, 0.575);
    display: flex;
    justify-content: center;
}
.document-header__image
{
    top: 30%;
    padding: 10px;
    align-self: center;
    height: 100px;
}
.document-header__heading
{
    text-align: center;
    width: 100%;
    color: #ff430ae8;
    text-shadow: #f4d293d2 1px 1px;
    padding-left: 20px;
    align-self: center;
    font-size: 40px;
}

/*Sections*/
.section
{
    background: white;
    border: 2px dotted #0F8B8D;
    margin: 20px 0;
    padding: 0 10px;
}
.section__header
{
    font-size: 30px;
    color: #DB2763;
}
.section__paragraph
{
    font-size: 23px;
    color: #0F8B8D;
}
.section__img-center
{
    display: flex;
    justify-content: center;
}
.section__img
{
    border: 4px dotted #E77728;
    border-radius: 200px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}
/*Articles*/
.article
{

}
.article__header
{
    color: #143642;
}
.article__paragraph
{
    color: #0F8B8D;
}
/*Section-grid*/
.section-grid
{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.section-grid__heading
{
    color: #E77728;
}
.section-grid__article
{
    border: crimson 2px dotted;
    column-gap: 10px;
    display: grid;
    grid-template-areas: 
    "heading heading"
    "paragraph aside"
    "footer footer";
    grid-template-columns: 1fr 300px;
    border: 2px dotted #E77728;
    padding: 20px;
}
.section-grid__article-heading
{
    padding: 10px;
    text-align: center;
    color: #e728be;
    background: rgba(165, 42, 42, 0.294);
    grid-area: heading;
}
.section-grid__article-paragraphs
{
    background-color: rgba(233, 149, 14, 0.116);
    color:#0F8B8D;
    grid-area: paragraph;
}

.section-grid__article-aside
{
    flex-direction: column;
    background-color: antiquewhite;
    display: flex;
    padding: 5px 20px;
    align-self: center;
    color:rgb(52, 82, 255);
    grid-area: aside;
}
.section-grid__article-footer
{
    background: coral;
    text-align: center;
    grid-area: footer;
}




/*Wkurwiające*/
.footer
{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3px 10px;
    background: rgb(255, 255, 255);
    color: #E77728;
}
.footer__paragraph
{
    font-size: 20px;
}



.apple-wine-section__image
{
    width: 80%;
    margin: 0 10% 30px 10%;
    border: 10px double  #DB2763;

}


@media (max-width:375px) {
    .document-header__heading
    {
        font-size: 20px;
        text-align: center;
    }

}

